<div class="wrapper">
  <app-nav-bar></app-nav-bar>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="https://www.unisystems.com/" class="brand-link">
      <img
        src="https://media.licdn.com/dms/image/D4D0BAQEs1dql7Ak-Ug/company-logo_200_200/0/1688125377753?e=2147483647&v=beta&t=y9lMSX8RTkoQzoS2tcGVOu-Eg9EFrsEdwS2YBT_9kvo"
        alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">UniSystems</span>
    </a>


    <div class="sidebar">

      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./index2.html" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v1</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard v1</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div>
    </div>






    <section class="content">
      <div class="container-fluid">


        <div class="row">

          <div class="col-12 col-sm-6 col-md-3">
            <app-total-locations></app-total-locations>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <app-total-sessions></app-total-sessions>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <app-total-kwh></app-total-kwh>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <app-total-revenue></app-total-revenue>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <app-maps></app-maps>
          </div>
          <div class="col-12 col-md-6">
            <app-orders></app-orders>
          </div>
        </div>

      </div>
    </section>

  </div>
</div>

<aside class="control-sidebar control-sidebar-dark">

</aside>


<app-footer></app-footer>

<router-outlet></router-outlet>