<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Operator</h3>
    </div>
  
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table m-0">
          <tbody>
            <ng-container *ngFor="let item of [operator.location, operator.evse, operator.connector, operator.session]">
              <tr>
                <td>{{ item.label }}</td>
                <td><a [href]="item.link" target="_blank">{{ item.link }}</a></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  